@font-face {
     font-family: 'Lato';
     src: url('Lato/Lato-Regular.ttf');
     font-weight: 400;
}

@font-face {
     font-family: 'Montserrat';
     src: url('Montserrat/Montserrat-Regular.ttf');
}

/* REFERENCIAS
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">*/