body {

    background: url(https://gymbrother.com.br/wp-content/uploads/2021/11/banner_topo-e1638997552324.png) !important;
    background-size: cover !important;
    background-repeat: none !important;
}
nav.navbar {
    display: none !important;
}

.border {
border: 0 !important;
}

.card.border {
    margin-top: 50px !important; 
}

h1.h5 {
    color: white;
}

body {
    font-size: .875rem;
    color: #6c757d;
    background-color: #fafbfe;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

aside {
    background: #313a46;
}

.wraper {
    height: 100vh;
    position: relative;
}

.wraper aside {
    width: 250px;
    position: fixed;
    z-index: 1001;
    height: 100%;
    overflow: hidden;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

aside nav .header-menu {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background-color: #43525a;
}

aside nav .content-menu {
    min-height: 100%;
    height: calc(100vh - 70px);
    overflow: auto;
}

.sidebar .nav-link.active {
    color: white;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #8391a2;
}

.sidebar-heading {
    color: #cedce4;
}

.wraper main {
    margin-left: 250px;
}

main .topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: white;
    box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);    
}

.button-menu-mobile {
    display: none;
    background-color: #fafbfd;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.card-img-top {
    width: 100%;
    height: 12vw;
    object-fit: cover;
}

.avatar {
    height: 40px;
    width: 40px;
}

.avatar-lg {
    width: 8rem;
}

.vertical-center {
    min-height: calc(100vh - 100px);
    display: flex;
    align-items: center;  
}

.account {
    background-color: #fafbfd;
    color: #98a6ad;
}

.account-name {   
    white-space: nowrap;
    font-weight: 500;
    line-height: 1rem;
    margin-top: .2rem;
}

.account-description {
    font-size: .75rem;
    font-weight: 400;
}

main header {
    height: 70px;
    width: 100%;
}

.authentication-bg {
    background-image: linear-gradient( rgba(255, 255, 255, 0.5) 0%,rgba(255, 255, 255, 0.3) 100%), url(../img/background.jpg);
    background-size: cover;
    background-position: center;
}

.boxLoader {
    position: fixed;
    z-index: 9999;
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
    display: none;
}

.boxLoader #loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #32D8CA;
    border-bottom: 16px solid #32D8CA;
    width: 120px;
    height: 120px;
    animation: spin 1.5s linear infinite;
    position: absolute;
    top: 0%;
    bottom: 0%;
    margin: auto;
    right: 0;
    left: 0;
}

@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}   
}

@media (max-width: 768px) {
    .card-img-top {
        max-height: 60vw;
        min-height: 32vw;
        height: auto;
    }
}

@media(max-width: 768px) {
    .wraper aside {
        margin-left: -250px;
        transition: all 0.2s ease-in-out; 
    }
    body.menu-active .wraper aside {
        margin-left: 0;
        transition: all 0.2s ease-in-out; 
    }
    .button-menu-mobile {
        border: none;
        display: inline-block;
        height: 60px;
        width: 60px;
        font-size: 24px;
        cursor: pointer;
    }

    .button-menu-mobile .icon-menu {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        content: "";
        background: no-repeat center center;
        background-size: 100% 100%;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(152, 166, 173, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
    .wraper main {
        margin-left: 0;
    }
}

.icon_zap{
    height: 1rem;
    margin-left: 2%;
}

.fullheight { 
    min-height: 100vh; 
}

.btn-manter {
    color: #fff;
    background-color: #25a297;
    border-color: #25a297;
}

.btn-manter:hover {
    color: #fff;
    background-color: #205d57;
    border-color: #205d57;
}

.hide {
    display: none;
}

.dataTables_filter {
    float: right;
}

.tooltip.show p {
    text-align:left;
}

.img-doc {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
    max-height: 200px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.stepwizard-step span {
    font-size: .9em;                
}

.dtoggle {
    padding: 0.15rem 0.7rem;
}

.badge-menu {
    color: #fff;
    background-color: #dc3545;
}